<div class="centre">
  <h2 class="title">Welcome to Miahoot, Learn having fun</h2>
  <div class="button-group">
    <button class="create-button" mat-raised-button color="primary" (click)="loginAnonymously()">Create a Miahoot quiz as anonymous teacher</button>
    <div class="spacer"></div>
    <div class="join-button-group">
      <label>
        <input type="text" [(ngModel)]="value" />
        <button class="join-button" mat-raised-button color="accent" [matMenuTriggerFor]="menu"   routerLink="/participant/{{value}}">Join a Miahoot quiz as anonymous participant</button>
      </label>

      <mat-menu #menu="matMenu">
        <button class="enter-code-button" mat-raised-button>Enter Miahoot code</button>
      </mat-menu>
    </div>
  </div>
</div>













