<div class="qcm" >Résultats du quiz </div>

<p class="container">Votre score : {{ getScore() }}%</p>
<br />
<br />
<br />
<div class="centre">
  <button mat-raised-button color="primary" *ngIf="!showResponses" (click)="showResponsesClicked()">
    Afficher les réponses
  </button>

</div>


<div class="container" *ngIf="showResponses" >
  <h3 class="alert alert-secondary">Réponses</h3>
  <ul>
    <li *ngFor="let response of getResponses()">
      Vous avez sélectionné :
      <strong>{{ response.label }}</strong>
      <br/>

      Réponse valide : {{ response.estValide }}
      <label *ngIf="response.estValide == true">
        Bravo vous avez trouvez juste
      </label>
      <br/>

      <label *ngIf="response.estValide === false">
        vous n'avez pas trovez la bonne response
      </label>
    </li>
  </ul>

  
</div>
<div class="text-center">
  <button routerLink="/accueil" class="btn btn-primary">
    Retour à l'accueil
  </button>
</div>



