<mat-toolbar color="primary">
  <span class="gap">Miahoot</span>
  <span *ngIf="user | async">
    <!-- anchor must be a passive link -->
    <a href="javascript:void(0)" (click)="goBack()" style = "color:white">
      <-Back
    </a>
  </span>

  <span class="filler"></span>
  <ng-container *ngIf="!(user | async)">
    <span class="gap">
      <button mat-raised-button [matMenuTriggerFor]="beforeMenu">Register</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="loginEnseignant()">Enseignant</button>
        <button mat-menu-item (click)="loginParticipant()">Participant</button>
      </mat-menu>
    </span>
    <span>
      <button mat-raised-button>Login</button>
    </span>
  </ng-container>

  <ng-container *ngIf="user | async">
    <span class="gap">
      <mat-card-title>{{ (user | async)?.displayName }}</mat-card-title>
    </span>
    <span>
      <div mat-card-avatar class="example-header-image">
        <button mat-button [matMenuTriggerFor]="menu" title="Afficher les options">
          <img mat-card-image [src]="photo" alt="" />
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <nav>
              <a routerLink="/accountConfig" routerLinkActive="active" ariaCurrentWhenActive="page">Paramètres</a>
            </nav>
          </button>
          <!--Pour se déconnecter-->
          <button mat-raised-button (click)="logout()">Logout</button>
        </mat-menu>
        <!--Pour se déconnecter-->
        <button mat-raised-button (click)="logout()" *ngIf="deconnexionAnonyme">Logout</button>
      </div>
    </span>
    <!-- <span>
            <button mat-raised-button (click)="logout()">Logout</button>
        </span> -->
  </ng-container>
</mat-toolbar>





<router-outlet></router-outlet>
