<mat-toolbar color = "primary">
    <span class = "gap">Miahoot</span>
    
    <span class = "filler"></span>
    <span class = "gap" >
        <button mat-raised-button [matMenuTriggerFor]="beforeMenu">Register</button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="loginEnseignant()">Enseignant</button>
          <button mat-menu-item (click)="loginParticipant()">Participant</button>
        </mat-menu>
    </span>
    <span>
        <button mat-raised-button>Login</button>
    </span>
              
    <!--</ng-template>
    <!-- <ng-template #elseBlock>
        <button mat-raised-button (click)="logout()">Logout</button>
    </ng-template> --> 
        
 
</mat-toolbar>

<router-outlet></router-outlet>