<div class="container">
  <div class="input-group-prepend">
    <h1 class="center" class="input-group-text"> Titre du Miahoot : {{miahoot.nom}}</h1>
  </div>
  <div class="center" *ngFor="let question of miahoot.questions; let i = index">
    <div class="question-container">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-prepend">
            <span class="input-group-text">Question {{ i+1 }}</span>
          </div>
        </div>
      </div>
      <div class="responses-container">
        <p>{{this.miahoot.questions[i].label}}</p>
        <input class="form-control" type="text" id="question{{i}}" name="question{{i}}" [(ngModel)]="question.label"
          placeholder="Ecrivez votre question" required /><br /><br />
        <div class="row">
          <div *ngFor="let response of question.reponses; let j = index;" class="col-sm-6 option-column">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Réponse {{ j+1 }}</span>
              </div>
              <input type="text" [(ngModel)]="response.label" [required]="true" class="form-control option-input"
                placeholder="Entrez votre option ici...">
              <div class="input-group-append" class="center">
                <mat-slide-toggle class="center" [(ngModel)]="response.estValide" (click)="onToggleClick(response, question)">
                  Réponse valide
                </mat-slide-toggle>
                <button *ngIf="question.reponses.length > 2" (click)="removeResponse(i, j)" class="remove-icon">
                  <i class="fa fa-minus-circle"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="add-icon" (click)="addResponse(i)">
        Ajoutez plus de réponse
      </button>
      <button class="remove-icon" (click)="removeQuestion(i)">
        Supprimez la question
      </button>
    </div>
  </div>
  <div class="buttons-container">
    <button class="add-icon" (click)="addQuestion()">
      Ajoutez une question
    </button>

    <button class="buttonstyle"  color="primary" (click)="createMiahoot()" *ngIf="miahoot.questions.length>0" >
      SAVE 
    </button>
    
  </div>