

.my-btn {
  width: 200px;
  height: 40px;
  margin: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.centre{
  text-align: center;
}

.qcm{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  
}

.container {
  position: relative;
}

.submit-button-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 20px;
}