
<div class="container">
  <div class="center">
    <button class="buttonstyle" (click)="choice()">
      Create a new Miahoot!
    </button>
  </div>
  <p *ngIf="(miahoots|async)"> {{miahoots.nom}}</p>
  <div *ngIf="b" class="center">
    <div class="form-group">
      <label class="espace" for="miahoot_title">Titre Miahoot :</label>
      <input class="form-control" type="text" id="miahoot_title" name="miahoot_title" [(ngModel)]="namemiahoot" required/>
    </div>

    <div>
      <h2 class="center">Choisissez un type de Miahoot à créer :</h2>
      <div class="row">
        <div class="col-sm-4">
          <button class="buttonstyle" *ngIf="namemiahoot" [routerLink]="['/qcm', namemiahoot]">Miahoot de type QCM</button>
          <button class="buttonstyle" *ngIf="!namemiahoot" (click)="showAlert()">Miahoot de type QCM</button>
        </div>
        <div class="col-sm-4">
          <button class="buttonstyle" *ngIf="namemiahoot" href="#">Miahoot de type QCU</button>
          <button class="buttonstyle" *ngIf="!namemiahoot" (click)="showAlert()">Miahoot de type QCU</button>
        </div>
        <div class="col-sm-4">
          <button class="buttonstyle" *ngIf="namemiahoot" href="#">Miahoot de type TRUE/FALSE</button>
          <button class="buttonstyle" *ngIf="!namemiahoot" (click)="showAlert()">Miahoot de type TRUE/FALSE</button>
        </div>
      </div>
    </div>
  </div>
</div>




