
<div class="container">
  <div class="center">
    <button class="buttonstyle" (click)="choice()">
      Create a new Miahoot!
    </button>
  </div>
  <!--début du tableau qui affiche tos les miahoot de l'utilisateur-->
  <div *ngIf="!b">
    <h1 class="center">Mes Miahoots</h1>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="tableauDesMiahoots" matSort>

        <ng-container matColumnDef="No">
          <mat-header-cell *matHeaderCellDef> No </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index"> {{i+1}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="nom">
          <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nom}} </mat-cell>
        </ng-container>
            
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="onEdit(element)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="onDelete(element)"><mat-icon>delete</mat-icon></button>
            <button mat-icon-button (click)="onPresent(element)"><mat-icon>slideshow</mat-icon></button>
          </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
      </mat-table>
  
    
    </div>   
    <!--<ul>
      <li >
        <p style="color: red;">eqgtsrhsrzh {{miahoot|json}}</p>
      </li>
    </ul> -->
  </div>
  <!--fin du tableau qui affiche tos les miahoot de l'utilisateur-->
  <!--<p *ngIf="(miahoots|async)"> {{miahoots.nom}}</p>-->
  <div *ngIf="b" class="center">
    <div class="form-group">
      <label class="espace" for="miahoot_title">Titre Miahoot :</label>
      <input class="form-control" type="text" id="miahoot_title" name="miahoot_title" [(ngModel)]="namemiahoot" required/>
    </div>

    <div>
      <h2 class="center">Choisissez un type de Miahoot à créer :</h2>
      <div class="row">
        <div class="col-sm-4">
          <button class="buttonstyle" *ngIf="namemiahoot" [routerLink]="['/qcm', namemiahoot]">Miahoot de type QCM</button>
          <button class="buttonstyle" *ngIf="!namemiahoot" (click)="showAlert()">Miahoot de type QCM</button>
        </div>
        <div class="col-sm-4">
          <button class="buttonstyle" *ngIf="namemiahoot" href="#">Miahoot de type QCU</button>
          <button class="buttonstyle" *ngIf="!namemiahoot" (click)="showAlert()">Miahoot de type QCU</button>
        </div>
        <div class="col-sm-4">
          <button class="buttonstyle" *ngIf="namemiahoot" href="#">Miahoot de type TRUE/FALSE</button>
          <button class="buttonstyle" *ngIf="!namemiahoot" (click)="showAlert()">Miahoot de type TRUE/FALSE</button>
        </div>
      </div>
    </div>
  </div>
</div>




